:root {
    --background-light: white;
    --background-dark: #1A1A1A; /* Обновленный цвет фона для темной темы */
    --text-light: black;
    --text-dark: white;
    --link-color: #0021F5;
    --visited-link-color: #551A8B;
    --breadcrumb-color-light: black;
    --breadcrumb-color-dark: white;
}

html {
    font-size: 125%;
}

body {
    background-color: var(--background-light);
    color: var(--text-light);
}

/* Темная тема для ручного переключения */
body.dark-theme {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

/* Изначальные настройки для подзаголовков */
.subheading {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
    color: #555; /* Цвет для светлой темы */
}

body.dark-theme .subheading {
    color: #aaa; /* Цвет для темной темы */
}

/* Стили для хлебных крошек */
nav ol li:not(:last-child)::after {
    color: var(--breadcrumb-color-light);
}

body.dark-theme nav ol li:not(:last-child)::after {
    color: var(--breadcrumb-color-dark);
}

body.dark-theme nav ol li:last-child {
    color: var(--breadcrumb-color-dark);
}

/* Общие стили */
* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 0.2em;
    line-height: 1;
}

/* Ссылки */
a, .breadcrumb a {
    color: var(--link-color);
    text-decoration: underline;
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--visited-link-color);
}

nav ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ol li {
    display: inline;
}

nav ol li:not(:last-child)::after {
    content: " / ";
    padding: 0 5px;
    color: var(--breadcrumb-color-light);
}

nav ol li:last-child {
    color: inherit;
}

/* Контейнеры и колонки */
.container, .address {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.two-column-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.two-column-section > div {
    width: 48%;
}

.two-column-section p {
    margin: 0 0 1em;
}

/* Ограничение размеров изображений */
.limited-img {
    width: 600px;
    height: auto;
}

.right img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

footer {
    margin-top: 2em;
}

address {
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
    margin-top: 20px;
}

address p {
    margin: 0;
}

address img {
    max-width: 600px;
    height: auto;
}

/* Адаптивный дизайн для мобильных устройств */
@media (max-width: 768px) {
    .container, .address {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .left, .right, .limited-img {
        width: 100%;
    }

    .two-column-section {
        flex-direction: column;
    }

    .two-column-section > div {
        width: 100%;
        margin-bottom: 1em;
    }

    .section img, .limited-img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    address {
        flex-direction: column;
        align-items: flex-start;
    }

    address img {
        max-width: 100%;
        margin-top: 20px;
        align-items: flex-start;
    }
}

/* Десктоп */
@media (min-width: 769px) {
    section {
        max-width: 768px;
        width: 100%;
    }

    section img {
        max-width: 100%;
        height: auto;
    }

    .left, .right {
        width: 50%;
    }
}

/* Разделители */
.divider-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divider-img {
    width: auto;
    height: 100px;
    max-width: 100%;
}

/* Разные изображения для тёмной темы */
body.dark-theme .divider-1 .divider-img {
    content: url('https://cdn-ec-static.garagemca.org/storage/document/3/2/3260/file-9356860c-883f-4bd5-8fb8-6ae5fd1f3b97.png');
}

body.dark-theme .divider-2 .divider-img {
    content: url('https://cdn-ec-static.garagemca.org/storage/document/3/2/3267/file-f062a9bf-5d72-41a6-b95f-b93a9b3ef81c.png');
}

body.dark-theme .divider-3 .divider-img {
    content: url('https://cdn-ec-static.garagemca.org/storage/document/3/2/3264/file-fa53cb36-f76c-4fd6-b1fa-1d921f21f1ba.png');
}

body.dark-theme .divider-4 .divider-img {
    content: url('https://cdn-ec-static.garagemca.org/storage/document/3/2/3272/file-7b107e24-cbd9-4a9b-af07-3b473f2b539f.png');
}

body.dark-theme .divider-5 .divider-img {
    content: url('https://cdn-ec-static.garagemca.org/storage/document/3/2/3275/file-fd88fd3e-9ead-4c2b-b9a0-075edda9a2d2.png');
}

body.dark-theme .divider-6 .divider-img {
    content: url('https://cdn-ec-static.garagemca.org/storage/document/3/2/3277/file-80baa1fc-5c8a-4cd2-91a1-2e8c59170bb1.png');
}

body.dark-theme .divider-7 .divider-img {
    content: url('https://cdn-ec-static.garagemca.org/storage/document/3/2/3263/file-4e452114-8470-472f-9678-121a9e3aa71c.png');
}

body.dark-theme .divider-8 .divider-img {
    content: url('https://cdn-ec-static.garagemca.org/storage/document/3/2/3273/file-d87e351e-6be4-466a-8406-fc7f21c4591b.png');
}

/* Обложки для страниц в темной теме */
body.dark-theme #index-cover {
    content: url("https://cdn-ec-static.garagemca.org/storage/document/3/2/3299/file-8f45c9bc-b683-4086-9759-1045756ffd90.gif");
}

body.dark-theme #donna-harauej-i-teoriya-sobaki-cover {
    content: url("https://cdn-ec-static.garagemca.org/storage/document/3/3/3318/file-77289c60-d568-44df-9ebf-025cba189c5e.gif");
}

body.dark-theme #zhivotnye-i-vojna-cover {
    content: url("https://cdn-ec-static.garagemca.org/storage/document/3/3/3317/file-849d68d9-c26f-4eb1-814f-fa2df99989ae.gif");
}

body.dark-theme #mezhvidovye-vstrechi-i-politicheskij-povorot-ot-dialogov-k-deliberacii-cover {
    content: url("https://cdn-ec-static.garagemca.org/storage/document/3/3/3319/file-3e3b626d-7f2e-4e38-b868-76958d36a104.gif");
}

body.dark-theme #smotret-mozhno-est-nelzya-cover {
    content: url("https://cdn-ec-static.garagemca.org/storage/document/3/3/3321/file-ffd0793e-4c1f-40c9-b2c9-9c3c5a9fc2f0.gif");
}

body.dark-theme #subektnost-zhivotnyh-v-chelovecheskih-konfliktah-cover {
    content: url("https://cdn-ec-static.garagemca.org/storage/document/3/3/3304/file-e41f85dd-0a1a-4e82-9e26-fb56dc4682b3.gif");
}

body.dark-theme #etologiya-kak-metod-issledovaniya-zhivotnyh-ili-kak-lyubit-zhivotnyh-cover {
    content: url("https://cdn-ec-static.garagemca.org/storage/document/3/3/3320/file-b4fd87a8-e000-40db-91b2-2bed07df7e41.gif");
}

body.dark-theme #issledovaniya-zhivotnyh-v-nauchnoj-fantastike-cover {
    content: url("https://cdn-ec-static.garagemca.org/storage/document/3/3/3315/file-46ded2a6-b550-4c96-87a2-a2cb119ec4b9.gif");
}

.right img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

footer {
    margin-top: 2em;
}

address {
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
    margin-top: 20px;
}

address p {
    margin: 0;
}

address img {
    max-width: 600px;
    height: auto;
}

.third {
    padding: 10px 20px; /* Верхний/нижний отступ 10px, боковой отступ 20px */
    text-align: left;
}

/* Адаптивный дизайн для мобильных устройств */
@media (max-width: 768px) {
    address {
        flex-direction: column;
        align-items: flex-start;
    }

    address img {
        max-width: 100%;
        margin-top: 20px;
        align-items: flex-start;
    }
}

/* Мобилка: перестроение контейнера на мобилках */
@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }

    .left, .right {
        width: 100%;
    }

    .limited-img {
        width: 100%;
        height: auto;
        align-items: flex-start;
    }

    section {
        width: 100%;
        max-width: none;
    }

    section img {
        width: 100%;
        height: auto;
    }
}

/* Десктоп: ограничение ширины секций */
@media (min-width: 769px) {
    section {
        max-width: 768px;
        width: 100%;
    }

    section img {
        max-width: 100%;
        height: auto;
    }
}