html {
    font-size: 125%;
}

/* Цветовые переменные */
:root {
    --text-light: black;
    --background-light: white;
    --text-dark: white;
    --background-dark: black;
}

/* По умолчанию светлая тема */
body {
    background-color: var(--background-light);
    color: var(--text-light);
}

/* Темная тема для ручного переключения */
body.dark-theme {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

/* Темная тема для устройств с темной схемой */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark);
        color: var(--text-dark);
    }
}

/* Светлая тема для ручного переключения */
body.light-theme {
    background-color: var(--background-light);
    color: var(--text-light);
}

* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 0.2em;
}

.subheading {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
    color: #555;
}

.breadcrumb {
    font-size: 0.875rem;
    font-style: italic;
}

/* Общие стили для всех ссылок */
a, .breadcrumb a {
    color: #0021F5;
    text-decoration: underline;
}

/* Стили для непосещенных и посещенных ссылок */
a:link {
    color: #0021F5;
}

a:visited {
    color: #551A8B;
}

nav ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ol li {
    display: inline;
}

nav ol li:last-child {
    color: inherit;
}

nav ol li:not(:last-child)::after {
    content: " / ";
    padding: 0 5px;
    color: black;
}

/* Цвета для темных и светлых тем */
body.dark-theme nav ol li:not(:last-child)::after,
body.dark-theme nav ol li:last-child {
    color: white;
}

body:not(.dark-theme) nav ol li:not(:last-child)::after,
body:not(.dark-theme) nav ol li:last-child {
    color: black;
}

.container {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

/* Две колонки */
.two-column-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.two-column-section > div {
    width: 48%;
}

.two-column-section p {
    margin: 0 0 1em 0;
}

/* Адаптивный дизайн для мобильных устройств */
@media (max-width: 768px) {
    .two-column-section {
        flex-direction: column;
    }

    .two-column-section > div {
        width: 100%;
        margin-bottom: 1em;
    }
}

.left, .right {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.right img,
address img,
.limited-img,
.divider-img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    .right img,
    .divider-img {
        background-color: white;
    }
}

address {
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
    margin-top: 20px;
}

address p {
    margin: 0;
}

address img {
    max-width: 600px;
}

/* Адаптивный дизайн для мобильных устройств */
@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }

    .left, .right {
        width: 100%;
    }

    address {
        flex-direction: column;
        align-items: flex-start;
    }

    address img,
    .limited-img {
        max-width: 100%;
        margin-top: 20px;
    }

    .divider-img {
        width: 100%;
    }
}

/* Десктоп */
@media (min-width: 769px) {
    section {
        max-width: 768px;
        width: 100%;
    }

    section img {
        max-width: 100%;
        height: auto;
    }
}