/* Общие стили */
* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    overflow-x: hidden; /* Скрыть горизонтальную прокрутку, если она возникает */
}

.left, .right {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    flex-direction: column;
}

.right img {
    max-width: 100%;  /* Изображение адаптируется по ширине */
    height: auto;     /* По умолчанию высота изображения будет автоматической */
}

/* Для третьего блока ниже левой и правой частей */
.third {
    padding: 10px;
    text-align: left;
}

/* Мобилка */
@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }

    .left, .right {
        width: 100%;
        padding: 10px; /* Уменьшение отступов на мобильных устройствах */
    }

    .right img {
        max-width: 100%;
        height: auto;
    }
}

/* Десктоп */
@media (min-width: 1440px) {
    .right img {
        height: 100vh;    /* Устанавливаем высоту изображения равной 100% высоты окна */
    }
}