html {
    font-size: 125%;
}

* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 0.2em; /* Отступ после h1 */
}

.subheading {
    margin-top: 0;        /* Отступ сверху для h3 */
    font-size: 1.2em;     /* Размер шрифта */
    font-weight: normal;  /* Жирность */
    font-style: italic;   /* Курсив */
    color: #555;        /* Цвет */
}

nav ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ol li {
    display: inline;
}

nav ol li::after {
    content: " / ";
    padding: 0 5px;
}

nav ol li:last-child::after {
    content: "";
}

nav ol a {
    color: blue; /* Стандартный синий цвет ссылок */
    text-decoration: underline; /* Подчеркивание, как у стандартных ссылок */
}

nav ol li:last-child {
    color: inherit; /* Текущий элемент без ссылки, цвет как у основного текста */
}

.container {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.left, .right {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.right img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    align-self: flex-start;
}

.third {
    padding: 10px;
    text-align: left;
}

.limited-img {
    width: 400px; /* Ограничение ширины изображения */
    height: auto; /* Сохраняем пропорциональность изображения */
}

/* Мобилка */
@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }

    .left, .right {
        width: 100%;
        padding: 10px;
    }

    .right img {
        width: 100%;
    }

    .limited-img {
        width: 100%; /* Ограничение ширины изображения */
        height: auto;
    }
}

/* Десктоп */
@media (min-width: 769px) {
    section {
        max-width: 768px; /* Ограничение ширины до 500px */
        width: 100%; /* Ширина блока будет 100% в пределах max-width */
    }
}